.BroadcastMessage{
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
  align-items: center;
}
.toBroadCast{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #DEDCDC;
    display: flex;
    align-items: center;
    padding: 0px 30px;
}
.toBroadCast .selectDiv{
    width: 97%;
}
.toBroadCast .toPara{
    width: 3%;
}
.toBroadCast .toPara h2{
    font-size: 19px;
    font-weight: 700;
    color: #2185D0;
    
}

/* .customerList{
    width: 339px;
    height: 450px;
    position: absolute;
    top: 70px;
    left: 10%;
    background-color:#FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow-y: hidden;
    z-index: 2;
} */

/* ---------BroadCast Tabs------------ */
.BroadcastBloc-tabs{
    display: flex;
}
.BroadcastBloc-tabs .broadCastTabs {
    padding: 10px 0px;
    text-align: center;
    width: 100%;
    background: #FFFFFF;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    font-weight: 700;
    font-size: 14px;
    color: #5E5E62;

}

.BroadcastBloc-tabs .active-tabs{
    color: #041342;
    font-weight: 700;
    border-bottom: 3px solid #041342;
}

/* --------------Select All Button--------------- */

.selectAll{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #D9D7D7;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
}

.selectAllBtn{
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #041342;
    padding: 0px 10px;
    border-radius: 8px;
    gap: 0px 5px;
    cursor: pointer;
    
}
.selectAllBtn h3{
    font-size: 16px;
    font-weight: 400;
}

.selectCancel{
    display: flex;
    align-items: center;
    cursor: pointer;
}



.broadCastContent-tabs{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    overflow-y: scroll;
}

.broadCastContent-tabs::-webkit-scrollbar{
    width: 3px; 
    background-color: rgb(221, 216, 216);
}
 
  
.displayMessageContainer{
    width: 75%;
}

.broadcastContainer{
    display: none;
    width: 75%;
    background-color: #FAFAFA;;
   
}

/* ---------------Write Message---------- */
.BroadcastMessage .writeMessage{
    width: 95%;
    position: absolute;
    bottom: 5%;
    height: auto;
    display: flex;
    justify-content: space-between;
   
    z-index: 0;
}

.notify{
    background-color: #FCFDFE;
}

.checkboxSendNotification{
    -webkit-appearance: none;
    background-color: #EDEDED;
	border: 1px solid #cacece;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

/* .checkboxSendNotification:active, .checkboxSendNotification:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
} */

.checkboxSendNotification:checked {
	background-color: #44BBA5;
	/* border: 1px solid #adb8c0; */
	color: white;
}

.checkboxSendNotification:checked:after {
	content: url('../../../public/images/tickMark.svg');
	position: absolute;
	top: 3px;
	left: 4px;
}
